@model CrudLivros.Models.Livro

@{
    ViewData["Title"] = "Create";
}

<h1>Cadastrar</h1>

<h4>Livro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="titulo" class="control-label"></label>
                <input asp-for="titulo" class="form-control" />
                <span asp-validation-for="titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="isbn" class="control-label"></label>
                <input asp-for="isbn" class="form-control" />
                <span asp-validation-for="isbn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="qtdPag" class="control-label"></label>
                <input asp-for="qtdPag" class="form-control" />
                <span asp-validation-for="qtdPag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sinapse" class="control-label"></label>
                <input asp-for="sinapse" class="form-control" />
                <span asp-validation-for="sinapse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="codBarras" class="control-label"></label>
                <input asp-for="codBarras" class="form-control" />
                <span asp-validation-for="codBarras" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="inativo" /> @Html.DisplayNameFor(model => model.inativo)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
